<div class="container p-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center" >
                <div class="card-header">
                    <a>
                        <h3 class="card-title text-uppercase">
                            nombre
                        </h3>
                    </a>
                </div>
                <div class="card-body" >
                    <p class="m-2"> diseño: </p>
                    <p class="m-2"> Precio solicitado: </p>
                    <hr>
                    <a class="btn btn-success" >
                        Ver diseño 
                    </a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="box-footer clearfix">
        <a class="btn btn-sm btn-info btn-flat pull-left" routerLink="/empresa/proyectos/idProyecto/diseños/agregarDiseño">Agregar Diseño</a>
    </div>
</div>